@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Outfit:wght@100..900&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-image:url('coffeebackground.jpg');
    width:100%;
    height:auto;
    background-size:cover;   
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position:center;
}
#logo{
    color:white;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2rem;
}
#contentcontainer{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap:nowrap;
    flex-direction: row;
    
}
#content{
    margin-top:12rem;
    font-size: 6.25rem;
    text-align: center;
    font-family:"Outfit", sans-serif;
    color:white;
    height:100%;
    width: 100%;

}

#navbar{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-around;
    align-items:row;
    font-family: "Barlow Condensed", sans-serif;
    height:3.75rem;
    margin-left:2rem;
    width:40%;
    border-radius:0.75rem;
    
}

#home{
    border:none;
    background:none;
    font-size:1.2rem;
    color:white;
}
#home:hover{
    cursor:pointer;
    color:rgb(169, 161, 161);
}

#contactus{
    border:none;
    background:none;
    font-size:1.2rem;
    color:white;
}

#contactus:hover{
    cursor:pointer;
    color:rgb(169, 161, 161);
    
    
}

#location{
    border:none;
    background:none;
    font-size:1.2rem;
    color:white;
}
#location:hover{
    cursor:pointer;
    color:rgb(169, 161, 161);
}

#menu{
    border:none;
    background:none;
    font-size:1.2rem;
    color:white;
    

}

#menu:hover{
    cursor: pointer;
    color:rgb(169, 161, 161);
    
}

#menu-page{
    background-image:'jpg' ;
}

#content-body{
    font-size: 1.2rem;
    
}